{% extends 'base.html.twig' %}

{% block title %}Biblios{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container px-4">
            <a class="navbar-brand" href="#page-top">Biblios</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#about">à propos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#functionnalities">Fonctionnalités clés</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Biblios</h1>
            <p class="lead">Catalogue en ligne de la médiathèque de Trifouillis-les-Oies</p>
            <a class="btn btn-lg btn-light" href="#about">Venez découvrir !</a>
        </div>
    </header>
    <!-- About section-->
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Biblios: qu'est-ce que c'est ?</h2>
                    <p class="lead">Biblios est la plateforme officielle de consultation du catalogue de la médiathèque
                        de Trifouillis-les-Oies. Explorez notre collection avec une recherche efficace, vérifiez la
                        disponibilité des ouvrages en temps réel, et effectuez des réservations en toute simplicité.
                        Biblios s'engage pour faciliter l'accès à la culture et promouvoir la richesse de notre
                        patrimoine littéraire.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Services section-->
    <section class="bg-light" id="functionnalities">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Fonctionnalités clés :</h2>
                    <ul>
                        <li>Recherche de livres.</li>
                        <li>Consultation en temps réel du statut des ouvrages (disponible, emprunté, indisponible).</li>
                        <li>Affichage détaillé des informations sur les livres.</li>
                        <li>Processus de réservation simplifié.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="assets/app.js"></script>
{% endblock %}
